<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
</head>
<body>
    <%= message %>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th></th>
        </tr>
    <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td></td>
        </tr>
    <% }) %>
    </table>
    <footer>
        <% include partials/_footer %>
    </footer>
</body>
</html>