<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <% include partials/_header %>
</head>
<body ng-controller="MyCtrl">
    <h2>About Page</h2>
    <footer>
        <% include partials/_footer %>
    </footer>
</body>
</html>
